# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Ambiente virtual
# =========================
venv/
.env/
.venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs e arquivos temporários
# =========================
*.log
*.tmp

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db